[submodule "public"]
	path = public
	url = https://github.com/matsunagalab/matsunagalab.github.io
	branch = master
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
